#newsletter-type {
  color: white;
  align-content: center;
  text-align: center;
}

#newsletter-text {
  color: rgb(15, 57, 94);
  font-size: x-large;
  text-align: center;
  margin: 10px;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
  align-content: center;
}

#newsletterMonthButton {
  padding: 5px;
  width: 300px;
  font-size: larger;
  font-weight: 600;
  margin-left: 785px;
  margin-top: 3px;
  vertical-align: center;
}

#headerImage {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#newsletterImage {
  width: 100%;
  padding-bottom: 300px;
}

.newsletterContent {
  overflow-y: scroll;
  height: 100vh;
  position: absolute;
}

/* #backgroundImage {
	background: url('../../assets/newspaperStack.jpeg');
  display: inline;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	z-index: -1;
  background-color: black;
  overflow: hidden;
 } */



/* .newslettercontent {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 27%;
  transform: translate(-50%, -50%);
} */


