#newsletter-type {
  color: white;
  align-content: center;
  text-align: center;
}

#newsletter-text {
  color: aliceblue;
  font-size: x-large;
  text-align: center;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
  align-content: center;
}

#newsletterMonthButton {
  padding: 5px;
  width: 300px;
  font-size: larger;
  font-weight: 600;
  margin: 3px;
}

#newsletterImage {
  width: 100%;
}

.newsletterContent {
  overflow-y: scroll;
  height: 100vh;
}

/* #newsletterMonthButton {
  margin: 3px;
  width: 200px;
  vertical-align: center;
} */

/* .newslettercontent {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 27%;
  transform: translate(-50%, -50%);
} */

/* #background {
  width: 100%;
  height: 781px;
  object-position: center;
  object-fit: cover;
} */
