

  <!-- <img src="../../assets/newspaperStack.jpeg" id="backgroundImage" alt="stack of newspapers"> -->

<div>
  <img src="../../assets/newspaperHeader.jpeg" id="headerImage" alt="stack of newspapers">
</div>

<h4 id="newsletter-text">Monthly Newsletter</h4>
<div>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('../../assets/newsletterMarch.jpeg');">March 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('../../assets/newsletterApril.jpeg');">April 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('../../assets/newsletterMay.jpeg');">May 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('../../assets/newsletterJune.jpeg');">June 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('../../assets/newsletterJuly.jpeg');">July 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('../../assets/newsletterAugust.jpeg');">August 2021</button>
</div>

<!-- <section class="newsletterList col-md-2"> -->

<!-- <div class="newsletterContent col-md-6"> -->

<br>
<br>
<br>
<br>
<img id="newsletterImage" [src]="contentImage">

<!-- </div> -->


<!-- Button trigger modal -->

<!-- <button type="button" id="newsletterButtonMarch" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterMarch.jpeg">
  March 2021
</button> -->

<!-- <div>
  <img src="../../assets/newsletterMarch.jpeg" id="image" alt="Medical" />
</div>

<button type="button" onclick="imageShow()">ClickMe</button> -->


<!-- <button type="button" id="newsletterButtonMarch" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterMarch.jpeg">
  March 2021
</button>
<button type="button" id="newsletterButtonApril" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterApril.jpeg">
  April 2021
</button>
<button type="button" id="newsletterButtonMay" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterMay.jpeg">
  May 2021
</button>
<button type="button" id="newsletterButtonJune" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterJune.jpeg">
  June 2021
</button>
<button type="button" id="newsletterButtonJuly" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterJuly.jpeg">
  July 2021
</button>
<button type="button" id="newsletterButtonAugust" class="btn btn-primary" data-toggle="modal" data-target="../../assets/newsletterAugust.jpeg">
  August 2021
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="newsletterJune" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</section> -->


  <!-- <div id="newsletter-months">
    <h4 id="newsletter-text">Monthly Newsletter</h4>
    <button type="button" id="newsletterButtonMarch" class="btn btn-outline-success">March 2021</button>
    <br>
    <button type="button" id="newsletterButtonApril" class="btn btn-outline-success">April 2021</button>
    <br>
    <button type="button" id="newsletterButtonMay" class="btn btn-outline-success">May 2021</button>
    <br>
    <button [routerLink]="['/newsletter']" src="../../assets/newsletterJune.pdf" id="newsletterButtonJune" (click)='displayNewsLetter(newsletterJune)'
    type="button" id="newsletterButtonJune" class="btn btn-outline-success">June 2021</button>
    <br>
    <button type="button" id="newsletterButtonJuly" class="btn btn-outline-success">July 2021</button>
    <br>
    <button type="button" id="newsletterButtonAugust" class="btn btn-outline-success">August 2021</button>
  </div>

  <div>

    <button src="../../assets/newsletterJune.pdf" id="newsletterButtonJune" >June 2021</button><br>
  </div>

</div> -->



