

  <!-- <img src="assets/newspaperStack.jpeg" id="backgroundImage" alt="stack of newspapers"> -->

<section class="newsletter">
  <img src="assets/newspaperHeader.jpg" alt="stack of newspapers">

  <div class="newsletterContent">


<div class="buttonStuff">
  <h4 id="newsletter-text">Monthly Newsletter</h4>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('assets/newsletterMarch.jpg');">March 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('assets/newsletterApril.jpg');">April 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('assets/newsletterMay.jpg');">May 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('assets/newsletterJune.jpg');">June 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('assets/newsletterJuly.jpg');">July 2021</button>
  <br>
  <button id="newsletterMonthButton" class="btn btn-primary newsletterButton" value="show button" (click)="imageShow('assets/newsletterAugust.jpg');">August 2021</button>
</div>



<br>
<br>
<br>
<br>

</div>
</section>

<section class="newsLetImg" *ngIf="contentImage!=''">
<img id="newsletterImage" [src]="contentImage" />
</section>



