#newsletter-type {
  color: white;
  align-content: center;
  text-align: center;
}

#newsletter-text {
  color: rgb(15, 57, 94);
  font-size: x-large;
  text-align: center;
  margin: 10px;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
  align-content: center;
}

#newsletterMonthButton {
  padding: 5px;
  width: 300px;
  font-size: larger;
  font-weight: 600;

  margin-top: 3px;
  vertical-align: center;
}

.buttonStuff{
  margin-right: 500px;
  margin-bottom: 150px;
}

#headerImage {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#newsletterImage {
  width: 750px;
  height: 705px;
  border: whitesmoke 5px ridge;

}

.newsletterContent {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
}

.newsletter img{
  width: 100%;
  height: 600px;
  object-position: center;
  object-fit: cover;
}

#image{
  display: none;
}

.newsLetImg{
  position:absolute;
  top: 6%;
  left: 58%;
}

/* #backgroundImage {
	background: url('../../assets/newspaperStack.jpeg');
  display: inline;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	z-index: -1;
  background-color: black;
  overflow: hidden;
 } */



/* .newslettercontent {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 27%;
  transform: translate(-50%, -50%);
} */


