<section class="newsletter">

  <!-- <img src="../../assets/background.jpeg" alt="stack of newspapers"> -->
  <img src="../../assets/newspaper.jpeg" alt="stack of newspapers">

<div class="newslettercontent">

  <div id="newsletter-months">
    <h4 id="newsletter-text">Monthly Newsletter</h4>
    <button type="button" id="newsletterButton" class="btn btn-outline-success">March 2021</button>
    <br>
    <button type="button" id="newsletterButton" class="btn btn-outline-success">April 2021</button>
    <br>
    <button type="button" id="newsletterButton" class="btn btn-outline-success">May 2021</button>
    <br>
    <button type="button" id="newsletterButton" class="btn btn-outline-success">June 2021</button>
    <br>
    <button type="button" id="newsletterButton" class="btn btn-outline-success">July 2021</button>
    <br>
    <button type="button" id="newsletterButton" class="btn btn-outline-success">August 2021</button>
  </div>

</div>

</section>
