<h1>Service Location Map</h1>

<!-- <agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map> -->
<div class="form-group">
  <label>Enter address</label>
  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
</div>

<!-- <div *ngIf="markersLoaded"> -->
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"  (mapReady)="loadMarkers()">

    <!-- USE THE INDEX TO ACCESS THE MARKER ARRAY AND FIND THE CORRESPONDING SERVICE LOCATION TO DISPLAY DETAILS -->
    <agm-marker *ngFor="let marker of location.markers; let i = index"
    [latitude]="marker.lat" [longitude]="marker.lng" [title]="'' + marker.locId"
    [iconUrl]="'assets/soupCanLogo32.png'"
    (markerClick)="showLocationDetail($event, i)"
    ></agm-marker>
  </agm-map>
<!-- </div> -->

<div id="pano"></div>


<div>
  <h5>Name: {{description}}</h5>
  <h5>Address: {{address}}</h5>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf2VmxfBNxs1HkJpnNGHwYL36EM3V9R_U&callback=initPano"></script>
