#account-type {
  color: white;
  padding: 2rem;
  margin-top: 15em;
margin-left: 16em;
  align-content: center;
  text-align: center;
}

.account{
  text-align: center;

}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
  align-content: center;
}
