<section class="foodfinder">

  <img src="../../assets/foodfinder.jpeg" alt="hand helping lift another">

  <div class="foodfindercontent">

<div id="findertext">
<h1>All our service locations</h1>


<div class="table-responsive">
    <table class="table table-striped table-hover table-light table-bordered" style="color: rgb(44, 65, 83);">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Hours</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servLoc of serviceLocations" >
          <td>{{ servLoc.locationName }}</td>
          <td>{{ servLoc.hours }}</td>
          <td>{{servLoc.description }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


</section>
