.table {
  text-align: center;
  border: 1px black;
  border: 1px whitesmoke;
}

.table-bordered{
border-radius: 5px;
}

.locationsList {
  align-items: center;
}

.foodfinder img{
  width: 100%;
  height: 781px;
  object-position: center;
  object-fit: cover;
}

.foodfindercontent{
  position: absolute;
  top: 10%;
  left: 63%;
}

#findertext{
  color: white;
  align-content: center;
  text-align: center;
}
