<h1>Welcome to Food Finder, may I take your order?</h1>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!--NOTE: that the div for the footer is separate from the main content div's-->
<!-- INSIDE THIS DIV HERE IS WHERE WE ARE GOING TO ADD OUR FOOTER STUFF LIKE LINKS-->
<div class="footer-container">
  <div class="d-flex justify-content-around fixed-bottom footer">
    <div class="row align-content-center">
     <div class="col-7">
      <p class="footerName m-0 mt-1">Shaun Reass:</p>
   </div>
  <div class="col-1">
    <a class="" href="https://www.linkedin.com/in/shaun-reass-ab544276/" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
  <div class="col-1">
    <a class="badge badge-light" href="https://github.com/ShaunReass2" target="_blank"><i class="bi bi-github"></i></a>
  </div>
  </div>
    <div class="row align-content-center">
     <div class="col-7">
      <p class="footerName m-0 mt-1">David Estrada:</p>
   </div>
  <div class="col-1">
    <a class="" href="https://www.linkedin.com/in/david-a-estrada/" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
  <div class="col-1">
    <a class="badge badge-light" href="https://github.com/David-EstradaSD" target="_blank"><i class="bi bi-github"></i></a>
  </div>
  </div>
    <div class="row align-content-center">
     <div class="col-8">
      <p class="footerName m-0 mt-1">Mick LaGassey:</p>
   </div>
  <div class="col-1">
    <a class="" href="https://www.linkedin.com/in/michael-lagassey/" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
  <div class="col-1">
    <a class="badge badge-light" href="https://github.com/mklagassey" target="_blank"><i class="bi bi-github"></i></a>
  </div>
  </div>
  <div class="row align-content-center">
     <div class="col-7">
      <p class="footerName m-0 mt-1">Brian Ramirez:</p>
   </div>
  <div class="col-1">
    <a class="" href="https://www.linkedin.com/in/gbramirez/" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>
  <div class="col-1">
    <a class="badge badge-light" href="https://github.com/gbramirez" target="_blank"><i class="bi bi-github"></i></a>
  </div>
  </div>
</div>
</div>
