/* .content-outer-container {
  min-height: 100%;
}

.content-inner-container {
  padding-bottom: 36px;
}

.footer-container {
  height: 55px;
  margin-top: -36px;
}

.footer-content {
  text-align:center;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.footerDivBadge {
	width: 15vw;
	font-size: 20px;
}
*/


