<div class="login justify-content-between" id="outer" class="offset-1">

  <form #loginForm='ngForm' class="form-inline">
    <div class="inner">
      <input required #username="ngModel" autocomplete="off" id="username" class="form-control mr-sm-2" type="text" style="text-align: center;" name="username" placeholder="Username" [(ngModel)]="loginUser.username"/>
      <span *ngIf="username.invalid && username.touched" class="error">Username is required</span>
    </div>
    &nbsp;
    <div class="inner">
      <input required #password="ngModel" autocomplete="off" id="password" class="form-control mr-sm-2" type="password" style="text-align: center;" name="password" placeholder="Password" [(ngModel)]="loginUser.password"/>
      <span *ngIf="password.invalid && password.touched" class="error">Password is required</span>
    </div>
   &nbsp;
  <div class="inner">
    <button [disabled]="loginForm.invalid" type="button" class="btn btn-outline-info my-2 my-sm-0" (click)="login(loginUser)">Log In</button>
  </div>
  </form>
</div>
