.about img{
  width: 100%;
  height: 781px;
  object-position: center;
  object-fit: cover;
}

.aboutContent{
  position: absolute;
  text-align: center;
  top: 25%;

}

.team {
  position: absolute;
  text-align: center;
  align-items: center;
  top: 45%;
}
