
<section class="about">

  <img src="../../assets/background.jpeg" alt="hands forming a heart">

  <div class="aboutContent col-5 offset-1">
    <h5>What's Food Finder?</h5>
    <h6>Food Finder is exactly what it sounds like. It's a platform that connects people willing to give and those
      who willing to accept.
      It is meant to simplify the process of finding a place to donate, albeit be food, clothes, or toys.
      Through Food Finder, you can see which locations in your community offer certain services.
    </h6>
  </div>
  <div class="aboutContent col-5 offset-6">
    <h5>Meet The Team</h5>
    <h6>We are Peppermint Mystery. A collective of Software Developers who want to make a change in our local community.
      We are as diverse in our development style as we are in our individual backgrounds.
    </h6>
  </div>
    <div class="team col-2 offset-1">
      <h5>Shaun Reass</h5>
      <p>Shuan is a certified badass. From being a Green Beret Special Forces Captain
        to living trans-continental nomadic lifestlye on his motorcycle, Shuan is
        sure to bring organization and good vibes to his team.
      </p>
    </div>
    <div class="team col-2 offset-3">
      <h5>David Estrada</h5>
      <p>David is a certified nerd. From studying new chess behaviors from AlphaZero
        to learning small factoids about every new movie he watches, David is sure to bring
      an exceptional quirkiness to any project he participates in. </p>
    </div>

    <div class="team col-2 offset-7">
      <h5>Brian Ramirez</h5>
      <p>Brian is a certified comedian. From cracking jokes in-chat to making jokes through the
        mic, no individual can withstand a sprint without laughing from one of his humorous remarks.
        It's rumored that he has a podcast where he streams these jokes.
      </p>
    </div>

    <div class="team col-2 offset-9">
      <h5>Mick LaGassey</h5>
      <p>Mick is a certified team-player. From traversing multiple branches in the military to
        living abroad in South America to appease his wife, Mick is sure to bring synergy and teamwork
        to any agile project.
      </p>
    </div>


</section>
