<section class="about">

  <img src="assets/interlockedArms.jpg" alt="hands holding together">

  <section class="aboutContent">

    <div class="card-deck introCards">
      <div class="card border-primary mb-3" style="width: 60rem;">
        <div class="card-header">
          What's Food Finder?
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p> Food Finder is exactly what it sounds like. It's a platform that connects people willing to give and
              those
              who willing to accept.
              It is meant to simplify the process of finding a place to donate, albeit be food, clothes, or toys.
              Through Food Finder, you can see which locations in your community offer certain services.</p>
          </blockquote>
        </div>
      </div>

      <div class="card border-primary mb-3" style="width: 60rem;">
        <div class="card-header">
          Who's the Team?
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p> We are Peppermint Mystery. A collective of Software Developers who want to make a change in our local
              community.
              We are as diverse in our development style as we are in our individual backgrounds.</p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="card-group nameCards">

      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">
          Shaun Reass
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Shaun is a certified badass. From being a Green Beret Special Forces Captain
              to living trans-continental nomadic lifestlye on his motorcycle, Shuan is
              sure to bring organization and good vibes to his team. </p>
          </blockquote>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>

        </div>
      </div>



      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">
          David Estrada
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>David is a certified nerd. From studying new chess behaviors from AlphaZero
              to learning small factoids about every new movie he watches, David is sure to bring
              an exceptional quirkiness to any project he participates in. </p>
          </blockquote>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>




      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">
          Brian Ramirez
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Brian is a certified comedian. From cracking jokes in-chat to making jokes through the
              mic, no individual can withstand a sprint without laughing from one of his humorous remarks.
              It's rumored that he has a podcast where he streams these jokes. </p>
          </blockquote>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>



      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">
          Mick LaGassey
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Mick is a certified team-player. From traversing multiple branches in the military to
              living abroad in South America to appease his wife, Mick is sure to bring synergy and teamwork
              to any agile project. </p>
          </blockquote>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>


    </div>


  </section>
</section>
