registerForm {
  text-align: center;

}

.register img{
  width: 100%;
  height: 781px;
  object-position: center;
  object-fit: cover;
}

.registerContent{
  position: absolute;
  text-align: center;
  top: 18%;

}

.title {
  color: black;
}

.error {
  color: red;
}
